<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>

<div>
    <h2>Todo List: Data from file data.json</h2>
    <% if(data) { %>
        <table>
            <th>Id</th>
            <th>Todo</th>
            <th>Completed</th>
            <th>User Id</th>  
            <% data.todos.forEach((todo) => { %>
                <tr>
                    <td><%= todo.id %></td>
                    <td><%= todo.todo %></td>
                    <td><%= todo.completed %></td>
                    <td><%= todo.userId %></td>
                </tr>
            <% }) %>
        </table>
    <% } else { %>
        <h1>No Data Found</h1>
    <% } %>
</div>